<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delete</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!-- CSS Static File-->
    <link rel="stylesheet" href="{% static 'css/update&delete.css' %}">

</head>
<body>

</body>
</html>


<center>
    <div class="container card-body">
        <div class="btn">
            <h5>Are you sure you want to delete &nbsp <b>[{{ item |upper }}] ? </b></h5>
            <hr>

            <form action="" method="post">{% csrf_token %}
                <input class="btn btn-danger" type="submit" value="Confirm">
                <a class="btn btn-light" href="{% url 'list' %}">Cancel</a>
            </form>
        </div>
    </div>
</center>